* {
	box-sizing: border-box;
}

.container {
	max-width: 800px;
	width: 100%;
	margin: auto;
}

body {
	font-family: 'Open Sans', sans-serif;
	&.mask:after {
		content: "";
		position: absolute;
		width: 1000px;
		height: 1045px;
		z-index: 10;
		opacity: 0.3;
		background: url('../img/mask.png');
		top: 0;
		left: 0;
	}
}
.row {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}

header {
	margin-top: 30px;
	margin-bottom: 62px;
	.row {
		align-items: flex-end;
		.logo {
			@media (max-width: 479px) {
				width: 100%;
				text-align: center;
				margin-bottom: 10px;
			}
		}
		.form {
			display: flex;
			@media (max-width: 479px) {
				width: 100%;
				justify-content: space-between;
			}
			.search {
				border: 0;
				background: #f0f7fe;
				font-size: 14px;
				color: black;
				padding: 0px 21px;
				height: 40px;
				max-width: 150px;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				opacity: 0;
				transition: all 0.2s;
				width: 0;
				@media (max-width: 479px) {
					display: block;
					opacity: 1;
					width: 100%;
					max-width: 100%;
				}
				&.active {
					opacity: 1;
					width: auto;
					@media (max-width: 479px) {
						width: 100%;
					}
				}
			}
			button {
				background: #f0f7fe;
				border: 0;
				padding: 11px 17px;
				border-radius: 5px;
			}
		}
	}
}

.login-form {
	max-width: 408px;
	border: 3px solid #f7f7f7;
	padding: 30px 51px 41px;
	text-align: center;
	margin-bottom: 136px;
	@media (max-width: 479px) {
		padding: 20px 20px 25px;
		margin-bottom: 30px;
	}
	&.container {
		h1 {
			margin-top: 0;
			font-size: 24px;
			font-weight: bold;
			color: #414141;
			line-height: 19px;
			margin-bottom: 11px;
		}
		p {
			margin-top: 0;
			font-size: 14px;
			color: #333333;
			letter-spacing: 0.01em;
			margin-bottom: 33px;
		}
	}
	form {
		.form-group {
			position: relative;
			padding-top: 23px;
			span {
				display: inline-block;
				color: #f6303f;
				font-size: 12px;
				background: #fff0f1;
				float: right;
				padding: 1px 18px;
				margin-right: 2px;
				display: none;
				position: absolute;
				top: 4px;
				right: 0;
			}
			label {
				position: absolute;
				left: 0;
				top: 0;
				font-size: 14px;
				font-weight: bold;
				font-style: italic;
			}
			input {
				display: block;
				width: 100%;
				font-size: 14px;
				color: #dddddd;
				border: 1px solid #f6f6f6;
				line-height: 46px;
				padding: 0 22px;
				margin-bottom: 6px;
				&:focus {
					border-color: #05549f;
					box-shadow: 0px 0px 3px #05549f;
				}
			}
			&.error {
				span {
					display: block;
				}
				input {
					border-color: red;
					&:focus {
						box-shadow: none;
					}
				}
			}
		}
		button {
			font-size: 20px;
			color: white;
			background: #05549f;
			border: 0;
			margin-top: 19px;
			border-radius: 5px;
			width: 100%;
			padding: 13.5px;
			letter-spacing: 0.05em;
			cursor: pointer;
		}
	}
	.checkbox {
		padding-top: 6px;
		input {
			display: inline-block;
			width: 15px;
			vertical-align: middle;
		}
		label {
			color: #414141;
			font-size: 12px;
		}
		
	}	
	a.forgot-password {
		color: #05549f;
		font-size: 12px;
		text-decoration: none;
		display: block;
		margin-top: 10px;
		margin-right: 2px;
	}
}

.products {
	.row {
		@media (max-width: 479px) {
			justify-content: center;
			text-align: center;
		}
	}
	.box {
		h3 {
			font-size: 18px;
			color: #000000;
			margin-top: 0px;
			font-weight: bold;
		}
		h4 {
			font-size: 14px;
			color: #414141;
			margin-top: 10px;
			margin-bottom: 0px;
		}	
	}
}

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it
  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #05549f;
  }
  // Box hover
  &:hover + label:before {
    background: #05549f;
  }
  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }
  // Box checked
  &:checked + label:before {
    background: #05549f;
  }
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }
  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }
  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: #05549f;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}