* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
}
body.mask:after {
  content: "";
  position: absolute;
  width: 1000px;
  height: 1045px;
  z-index: 10;
  opacity: 0.3;
  background: url("../img/mask.png");
  top: 0;
  left: 0;
}

.row {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

header {
  margin-top: 30px;
  margin-bottom: 62px;
}
header .row {
  align-items: flex-end;
}
@media (max-width: 479px) {
  header .row .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
header .row .form {
  display: flex;
}
@media (max-width: 479px) {
  header .row .form {
    width: 100%;
    justify-content: space-between;
  }
}
header .row .form .search {
  border: 0;
  background: #f0f7fe;
  font-size: 14px;
  color: black;
  padding: 0px 21px;
  height: 40px;
  max-width: 150px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity: 0;
  transition: all 0.2s;
  width: 0;
}
@media (max-width: 479px) {
  header .row .form .search {
    display: block;
    opacity: 1;
    width: 100%;
    max-width: 100%;
  }
}
header .row .form .search.active {
  opacity: 1;
  width: auto;
}
@media (max-width: 479px) {
  header .row .form .search.active {
    width: 100%;
  }
}
header .row .form button {
  background: #f0f7fe;
  border: 0;
  padding: 11px 17px;
  border-radius: 5px;
}

.login-form {
  max-width: 408px;
  border: 3px solid #f7f7f7;
  padding: 30px 51px 41px;
  text-align: center;
  margin-bottom: 136px;
}
@media (max-width: 479px) {
  .login-form {
    padding: 20px 20px 25px;
    margin-bottom: 30px;
  }
}
.login-form.container h1 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  color: #414141;
  line-height: 19px;
  margin-bottom: 11px;
}
.login-form.container p {
  margin-top: 0;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0.01em;
  margin-bottom: 33px;
}
.login-form form .form-group {
  position: relative;
  padding-top: 23px;
}
.login-form form .form-group span {
  display: inline-block;
  color: #f6303f;
  font-size: 12px;
  background: #fff0f1;
  float: right;
  padding: 1px 18px;
  margin-right: 2px;
  display: none;
  position: absolute;
  top: 4px;
  right: 0;
}
.login-form form .form-group label {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}
.login-form form .form-group input {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #dddddd;
  border: 1px solid #f6f6f6;
  line-height: 46px;
  padding: 0 22px;
  margin-bottom: 6px;
}
.login-form form .form-group input:focus {
  border-color: #05549f;
  box-shadow: 0px 0px 3px #05549f;
}
.login-form form .form-group.error span {
  display: block;
}
.login-form form .form-group.error input {
  border-color: red;
}
.login-form form .form-group.error input:focus {
  box-shadow: none;
}
.login-form form button {
  font-size: 20px;
  color: white;
  background: #05549f;
  border: 0;
  margin-top: 19px;
  border-radius: 5px;
  width: 100%;
  padding: 13.5px;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.login-form .checkbox {
  padding-top: 6px;
}
.login-form .checkbox input {
  display: inline-block;
  width: 15px;
  vertical-align: middle;
}
.login-form .checkbox label {
  color: #414141;
  font-size: 12px;
}
.login-form a.forgot-password {
  color: #05549f;
  font-size: 12px;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  margin-right: 2px;
}

@media (max-width: 479px) {
  .products .row {
    justify-content: center;
    text-align: center;
  }
}
.products .box h3 {
  font-size: 18px;
  color: #000000;
  margin-top: 0px;
  font-weight: bold;
}
.products .box h4 {
  font-size: 14px;
  color: #414141;
  margin-top: 10px;
  margin-bottom: 0px;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #05549f;
}
.styled-checkbox:hover + label:before {
  background: #05549f;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #05549f;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: #05549f;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}
